<!--<div *ngIf="client" class="row">-->
<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">Lane Kim</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <!--<img [src]="appointment.dae">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Nom</td>
              <td><strong>Lane Kim</strong></td>
            </tr>
            <tr>
              <td>Adresse</td>
              <td><strong>50 rue Nowhere</strong></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><strong>lanekim@gmail.com</strong></td>
            </tr>
            <tr>
              <td>Numéro de téléphone</td>
              <td><strong>0755526778</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<h4 *ngIf='!appointment' class="center">Aucun rendez-vous à afficher !</h4>-->
<h4 class="center">Aucun rendez-vous à afficher !</h4>

