<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">Détails du rendez-vous</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <!--<img [src]="appointment.dae">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Motif</td>
              <td><strong>patte cassée</strong></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><strong>08/08/2010</strong></td>
            </tr>
            <tr>
              <td>Propriétaire</td>
              <td>
                <strong>
                  <a href="agenda/1/client" class="collection-item">Lorelai Kim</a>
                </strong>
              </td>
            </tr>
            <tr>
              <td>Animal</td>
              <td>
                <strong>
                  <a href="agenda/1/animal" class="collection-item">Joe le chien</a>
                </strong></td>
            </tr>

            </tbody>
          </table>
        </div>
        <div class="card-action">
          <a (click)="goBack()">Retour</a>
        </div>
      </div>
    </div>
  </div>
</div>
<h4 *ngIf='!appointment' class="center">Aucun rendez-vous à afficher !</h4>
