<!--<div *ngIf="client" class="row">-->
<div class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">Joe le chien</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <!--<img [src]="appointment.dae">-->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody>
            <tr>
              <td>Âge</td>
              <td><strong>2 ans</strong></td>
            </tr>
            <tr>
              <td>Race</td>
              <td><strong>Chien</strong></td>
            </tr>
            <tr>
              <td>Sexe</td>
              <td><strong>mâle</strong></td>
            </tr>
            <tr>
              <td>Poids</td>
              <td><strong>3.2 kg</strong></td>
            </tr>
            <tr>
              <td>Couleur</td>
              <td><strong>marron</strong></td>
            </tr>
            <tr>
              <td>Tatouage d'identification</td>
              <td><strong>46DFGH62H816</strong></td>
            </tr>
            <tr>
              <td>Puce d'identification</td>
              <td><strong>234HJ589</strong></td>
            </tr>
            <tr>
              <td>Stérilisation</td>
              <td><strong>Oui</strong></td>
            </tr>
            <tr>
              <td>Assurance</td>
              <td><strong>Chien assurance</strong></td>
            </tr>
            <tr>
              <td>Numéro d'assurance</td>
              <td><strong>157004256</strong></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<h4 *ngIf='!appointment' class="center">Aucun rendez-vous à afficher !</h4>-->
<h4 class="center">Aucun animal à afficher !</h4>

