<div class='container'>
  <h5 class="center">Vous recevrez un email de confirmation une fois que votre compte est validé</h5>
  <h1>Inscription</h1>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_list_numbered</i>
          <input id="nordinal" type="text" class="validate">
          <label class="active" for="nordinal">Numéro ordinal</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="surname" type="text" class="validate">
          <label class="active" for="surname">Prénom</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="name" type="text" class="validate">
          <label class="active" for="name">Nom</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person_pin_circle</i>
              <input type="text" id="address" class="validate">
              <label class="active" for="address">Adresse</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">contact_mail</i>
          <input id="email" type="email" class="validate">
          <label class="active" for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">contact_phone</i>
          <input id="telephone" type="tel" class="validate">
          <label class="active" for="telephone">Téléphone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">contacts</i>
          <input id="identifiant" type="text" class="validate">
          <label class="active" for="identifiant">Identifiant</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">https</i>
          <input id="password" type="password" class="validate">
          <label class="active" for="password">Mot de passe</label>
        </div>
      </div>
      <div class="row">
        <a class="waves-effect waves-light btn-large"><i class="material-icons right">send</i>S'inscrire</a>
      </div>
    </form>
</div>


