<div class='container'>
  <h3 class="center">Agenda</h3>
  <div class='row'>
    <ejs-calendar class="col s6" #schedule height='550px' locale="fr" [value]='user.selectedDate' [firstDayOfWeek]='startWeek' (renderDayCell)='disabledDate($event)' (change)='onChange($event)'></ejs-calendar>
    <ul class="collapsible col s6 right">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">view_agenda</i>
          15h45min
          <span class="badge">Chien</span>
        </div>
        <div class="collapsible-body"><p>Lorelai Kim patte cassée </p></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">view_agenda</i>
          8h00min
          <span class="badge">Serpent</span>
        </div>
        <div class="collapsible-body"><p>Lane Makaia suivi</p></div>
      </li>
    </ul>
  </div>
</div>

<!-- [eventSettings]="eventSettings"-->
