<div class='container'>
  <div class = "center">
    <p><em style="color: red">{{message}}</em></p>
  </div>
  <form *ngIf="!success" #newappoointmentForm="ngForm" (ngSubmit)="addAppointment(appointment)" class="col s12">
    <h1>Rendez-vous</h1>
    <div class="row">
      <appointment-scheduler></appointment-scheduler>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">message</i>
        <textarea [(ngModel)]="appointment.reason" name="reason" id="reason" class="materialize-textarea form-control validate"></textarea>
        <label class="active" for="reason">Motif</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_identity</i>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let petowner of filteredNames | async" [value]="petowner">
            {{petowner}}
          </mat-option>
        </mat-autocomplete>
        <input id="client" type="text" class="autocomplete form-control validate" matInput [formControl]="control" [matAutocomplete]="auto">
        <label class="active" for="client">Client</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <mat-autocomplete #autoEmails="matAutocomplete" (optionSelected)="OnEmailSelected($event.option)">
          <mat-option *ngFor="let petowneremail of filteredEmails | async" [value]="petowneremail">
            {{petowneremail}}
          </mat-option>
        </mat-autocomplete>
        <input [(ngModel)]="appointment.petowner_idpetownerappoint" name="petowner_idpetownerappoint" id="clientemail" type="email" class="autocomplete form-control validate" matInput [formControl]="control" [matAutocomplete]="autoEmails">
        <label class="active" for="clientemail">Email</label>
      </div>
    </div>
    <div class="row" [ngStyle]="{'visibility': arePetsdisplayed == 1 ? 'visible' : 'hidden'}">
      <div class="input-field col s6">
        <i class="material-icons prefix">perm_identity</i>
        <mat-autocomplete #petauto="matAutocomplete">
          <mat-option *ngFor="let pet of filteredPets | async" [value]="pet">
            {{pet}}
          </mat-option>
        </mat-autocomplete>
        <input [(ngModel)]="appointment.pet_idpetappoint" name="pet_idpetappoint" id="pet" type="text" class="autocomplete form-control validate" matInput [formControl]="control" [matAutocomplete]="petauto">
        <label class="active" for="pet">Animal</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light" type="submit" name="action">Prendre rendez-vous
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
<script>
  $(document).ready(function(){
    $('#date').datepicker({
      disableWeekends : true,
    });
  });
</script>
