<div class="creditCardForm">
  <div class="heading">
    <h1>Ajouter une carte de crédit</h1>
  </div>
  <div class="payment">
    <form>
      <div class="form-group owner">
        <label for="owner">Nom</label>
        <input type="text" class="form-control" id="owner">
      </div>
      <div class="form-group CVV">
        <label for="cvv">Code</label>
        <input type="text" class="form-control" id="cvv">
      </div>
      <div class="form-group" id="card-number-field">
        <label for="cardNumber">Numéro de la carte</label>
        <input type="text" class="form-control" id="cardNumber">
      </div>
      <div class="form-group">
        <label for="month">Date d'expiration</label>
      </div>
      <div class="form-group" style="margin-left:20px">
        <div class="form-group" id="month">
          <select class="browser-default">
            <option value="01">Janvier</option>
            <option value="02">Février </option>
            <option value="03">Mars</option>
            <option value="04">Avril</option>
            <option value="05">Mai</option>
            <option value="06">Juin</option>
            <option value="07">Juillet</option>
            <option value="08">Aout</option>
            <option value="09">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Novembre</option>
            <option value="12">Décembre</option>
          </select>
        </div>
        <div class="form-group" >
          <select class="browser-default">
            <option value="20"> 2020</option>
            <option value="21"> 2021</option>
            <option value="22"> 2022</option>
            <option value="23"> 2023</option>
            <option value="24"> 2024</option>
            <option value="25"> 2025</option>
          </select>
        </div>
      </div>
      <div class="form-group" id="pay-now">
        <button type="submit" class="btn btn-default" id="confirm-purchase">Confirmer</button>
      </div>
    </form>
  </div>
</div>

