<div class='container'>
  <h3 class="center">Facturation</h3>
  <div class='row'>
    <ul class="collapsible col s12 right">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">receipt</i>
          Facturation
        </div>
        <div class="collapsible-body"><p>Facture n1 </p></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">payment</i>
          Méthodes de paiement
        </div>
        <div class="collapsible-body"><p>Mastercard</p></div>
      </li>
    </ul>
  </div>
</div>

<!-- [eventSettings]="eventSettings"-->
