
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <div class="form-row">
    <h3>Paiement</h3>
    <p *ngIf="isFailed"><em style="color: red">L'enregistrement de la carte de crédit a échoué</em></p>
    <p *ngIf="isSent"><em style="color: red">La carte de crédit a été enregistrée</em></p>
    <label for="card-info">Entrer les informations de votre carte</label>
    <div id="card-info" #cardInfo></div>
    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>
  <button>Ajouter une carte de crédit</button>
</form>
